For Loop

In [1]:
for number in range(3):
    print("Attempt",number)

Attempt 0
Attempt 1
Attempt 2

In [2]:
for number in range(5):
    print(number * "*")

*
**
***
****

For...else

In [5]:
successful = True
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

Attempt
Successful

Questions:

In [7]:
#Write a simple for loop that prints numbers from 1 to 10.

for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [11]:
#How do you create a for loop that counts backwards from 10 to 1?

for number in range(10,0,-1):
    print(number)

10
9
8
7
6
5
4
3
2
1

In [12]:
#Print all even numbers from 1 to 50.
for number in range(1,51):
    if number%2==0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [13]:
#Print the multiplication table of 7.
for number in range(1,100):
    if number % 7 == 0:
        print(number)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [16]:
#Count how many digits are in a given number (e.g., 52319 → 5 digits).
n = input("Enter the number: ")
length = len(n)
print(f"number is {n} with length {length}")

number is 2342 with length 4

In [19]:
#Find the sum of numbers from 1 to n.
n=int(input("Enter a number: "))
sum=0
for number in range(0,n):
    sum = sum + number
    print(f"number {number} sum {sum}")
print(sum)

number 0 sum 0
number 1 sum 1
number 2 sum 3
number 3 sum 6
number 4 sum 10
number 5 sum 15
number 6 sum 21
21

In [22]:
#Print the factorial of a number using a loop.
n = int(input("Enter a number to get factorials: "))
factorial = 1
for number in range(1,n):
    factorial = factorial * number
print(f"{n}! = {factorial}")

9! = 40320

In [23]:
#Print all numbers divisible by 3 and 5 between 1 and 200.
for number in range(1,200):
    if number % 3 == 0 and number % 5 == 0:
        print(number)

15
30
45
60
75
90
105
120
135
150
165
180
195

In [25]:
#Given a number, reverse its digits (e.g., 3485 → 5843).
n = input("Enter a number to reverse: ")
rev = ""
for digit in n:
    rev = digit + rev
print(f"{n}={rev}")

#another way
num = int(input("Enter a number: "))

rev = 0
while num > 0:
    digit = num %10
    rev = rev *10+digit
    num //=10
    
print("Reverse",rev)

346=643
Reverse 687

In [30]:
#Check if a number is palindrome (121 → yes, 123 → no).
num = int(input("Enter a number to check if it is palindrome or not: "))
temp = num
rev = 0

while temp >0:
    digit = temp %10
    rev = rev * 10 + digit
    temp //=10

print(rev,num)
if rev == num:
    print("It's a Palindrome")
else:
    print("It's not a Palindrome")

121 121
It's a Palindrome

In [36]:
#fibnocchi series - 1,1,2,3,5,8....
a=1
b=1
for number in range(1,50):
    a,b = b,a+b 
    print(a,end=",")

1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765,10946,17711,28657,46368,75025,121393,196418,317811,514229,832040,1346269,2178309,3524578,5702887,9227465,14930352,24157817,39088169,63245986,102334155,165580141,267914296,433494437,701408733,1134903170,1836311903,2971215073,4807526976,7778742049,12586269025,

Pattern

In [52]:
#rectangle
for number in range(5):
    for j in range(5):
        print("* ",end="")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [53]:
#Right Angle:

num = int(input("Enter the number of rows: "))
for i in range(num):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [51]:
#decreasing triangle
for i in range(5):
    for number in range(i,5):
        print("* ",end='')
    print()

* * * * *
* * * *
* * *
* *
*

# while
# while condition:
#   ##some work

In [5]:
count = 1
while count <= 5:
    print("Ram")
    count +=1
print(count)

Ram
Ram
Ram
Ram
Ram
6

In [6]:
i=1
while i <=5:
    print(i)
    i +=1

1
2
3
4
5

In [8]:
i=5
while i >=1:
    print(i)
    i -=1

5
4
3
2
1

In [13]:
num = 3
multiplier = 1
while multiplier <=10:
    print(f"{num} x {multiplier} = {num*multiplier}")
    multiplier +=1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [14]:
listData = [1,4,9,16,25,36,49,64,81,100]

i = 0
while i <= len(listData)-1:
    print(listData[i])
    i +=1

1
4
9
16
25
36
49
64
81
100

In [20]:
listData = (1,4,9,16,25,36,49,64,81,100)

x = 64
i=0
while i < len(listData):
    if(listData[i] == x):
        print(f"Found at index: {i}")
    print("...Finding")
    i +=1

...Finding
...Finding
...Finding
...Finding
...Finding
...Finding
...Finding
Found at index: 7
...Finding
...Finding
...Finding

In [19]:
listData = (1,4,9,16,25,36,49,64,81,100)

x = 64
i=0
while i < len(listData):
    if(listData[i] == x):
        print(f"Found at index: {i}")
        break
    print("...Finding")
    i +=1

...Finding
...Finding
...Finding
...Finding
...Finding
...Finding
...Finding
Found at index: 7

In [21]:
##for in value
str = "mycollage"

for char in str:
    if(char == 'o'):
        print('o found')
    print(char)

m
y
c
o found
o
l
l
a
g
e

In [23]:
listData = (1,4,9,16,25,36,49,64,81,100)

index = 0
for el in listData:
    print(el, index)
    index +=1

1 0
4 1
9 2
16 3
25 4
36 5
49 6
64 7
81 8
100 9

In [27]:
n = 10
i = 0 
sum = 0  
while i <= n:
    sum +=i
    i +=1
print(sum)

55